name: Build

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  IMAGE_TAG: "wozorio/swiss-army-knife:latest"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Hadolint Action
        uses: hadolint/hadolint-action@v3.3.0

      - name: Test the image
        run: make test

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.IMAGE_TAG }}
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "HIGH,CRITICAL"

      - name: Save image to a file
        run: |
          docker save ${{ env.IMAGE_TAG }} | gzip > image.tar.gz

      - uses: actions/upload-artifact@v4
        with:
          name: image
          path: image.tar.gz

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/master'

    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v5
        with:
          name: image

      - name: Load image from file
        run: |
          docker load < image.tar.gz

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image to Docker Hub
        run: docker push ${{ env.IMAGE_TAG }}
